:host {
  background-color: #fdfbef;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");

  .main {
    box-sizing: border-box;
    min-height: 25rem;
    padding-top: 3.75rem;
    padding-bottom: 6.25rem;
  }
}
